 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    height:100%;
    width:100% ;
    object-fit: cover;

}
html{
    font-style: 'Montserrat', sans-serif;
    font-size: 12px;
}
body{
    background-color:#B9C1C6;
}
section{
    min-height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:100px 0;
}
.container{
    background-color: rgb(240, 237, 233);
    width:90%;
    max-width: 900px;
    margin:0 auto;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 50px 30px;
    border-radius: 25px;

}
.header{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    font-style: "Montserrat";


}
.header h1{
    font-size: 30px;
    font-weight: 900;
    
}
input{
    border:none;
    border-bottom: 2px solid rgba(128, 128, 128,0.479);
    margin-bottom: 10px;
    outline: none;
    color:gray;
    width:100%;


}
input::placeholder {
    color: gray;
    font-weight: 300;
    font-style: "Montserrat";
    text-transform: uppercase;
    opacity:0.3;
  }
form ion-icon{
    position: absolute;
    right: 0;
    opacity:0.3;
    font-size:15px;
}
form{
    
    position: relative;
    width: 80%;
    max-width: 300px;
    margin-top: 30px;
    

}
.gallery{
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 20px


}
.item{
    width:100%;
    height:200px;
    overflow: hidden;
    transition: .2s ease box-shadow;
    position: relative;

}
.item:hover{
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; ;
}
.item h3{
    bottom:-30px;
    padding: 15px;
    position: absolute;
    background-color: #00000040;
    color:aliceblue;
    transition: .5s  ease-in-out bottom;
    width:100%;
    
}
.item:hover h3{
    bottom: 0;
}

    


