
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    background-color: azure;
}
.secOne{
    width: 100%;
    padding: 4em 0;
    background-color: rgb(102, 118, 24, 0.2);
}
.gradient {
    background-image: linear-gradient(to right,rgb(0, 64, 255),rgb(190, 143, 12));
    height: 3px;
    width: 50%;
    margin: 20px 0 25px 0;
}
.desc{
    font-size: 18px;
}
nav{
    background-color: #667618;
    padding: 20px 0;
    display: flex;
    width: 100%;
    margin: 0 auto;
   
}
    


